gunicorn
flask~=1.1.2
numpy~=1.19.4
pandas~=1.1.4
jupyter
flask-bootstrap4
matplotlib
seaborn
lightgbm
eli5
xgboost
sklearn
flask-wtf
WTForms~=2.3.3
joblib~=0.17.0
flask-heroku
Jinja2
flask_cors
psycopg2